@model Model_Practice.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div>
        <h4>Employee</h4>
        <hr />

        <label> @Html.DisplayNameFor(model => model.ID)  :   @Html.DisplayFor(model => model.ID) </label> <br />
        <label> @Html.DisplayNameFor(model => model.Name)  :   @Html.DisplayFor(model => model.Name) </label>

    </div>
</body>
</html>
